<nav>
  <ul>
    <li>
      <a>
        <i-feather name="menu" class="breadcrumb"></i-feather>
      </a>
    </li>
    <li>
      <a>
        Home
        <i-feather name="chevron-right" class="breadcrumb"></i-feather>
      </a>
    </li>
  </ul>
</nav>
