@import "../../styles.scss";

nav {
  min-height: 40px;
  border-bottom: 1px solid $neutral-100;
  display: flex;
  align-items: center;
  padding: 0px 8px;
  background-color: white;
  ul {
    list-style: none;
    display: flex;
    align-items: center;

    li {
      display: flex;
      align-items: center;
      cursor: pointer;

      a {
        display: flex;
        align-items: center;
        gap: 4px;
        height: 100%;
        padding: 8px;
        border-radius: 4px;
        &:hover {
          background-color: $neutral-100;
        }
        .breadcrumb {
          @include fill($neutral-700, $neutral-800);

          &:hover {
            background-color: $neutral-100;
          }
        }
      }
    }
  }
}
