@import "../../styles.scss";

header {
  display: flex;
  border-bottom: 1px solid $neutral-100;
  padding: 4px 16px;
  min-height: 40px;
  justify-content: space-between;
  gap: 24px;
  background-color: white;

  .logo {
    display: flex;
    font-size: 24px;
    gap: 4px;

    span {
      color: red;
    }

    p {
      color: black;
    }
  }
  .search-container {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    align-items: center;
    width: 100%;

    // max-width: 400px;
    padding: 0px 8px;
    border: 1px solid $neutral-200;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
  }

  .actions {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 8px;

    li {
      display: flex;
      align-items: center;
    }

    .user {
      display: flex;
      align-items: center;
      gap: 4px;

      a {
        color: $neutral-600;
      }
    }
  }
}

@media (min-width: 768px) {
  header {
    .search-container {
      max-width: 600px;
    }
  }
}
