<header>
  <div class="logo">
    <span>IP</span>
    <p>OXI</p>
  </div>
  <div class="search-container">
    <app-search-bar></app-search-bar>
  </div>

  <ul class="actions">
    <li><i-feather name="globe" class="fill"></i-feather></li>
    <!-- <li><i-feather name="settings" class="fill"></i-feather></li> -->
    <li class="user">
      <i-feather name="user" class="fill"></i-feather> <a>Log out</a>
    </li>
  </ul>
</header>
