@import "../../../../styles.scss";

:host {
  width: 100%;
}

.search-bar {
  display: flex;
  width: 100%;
}

.search-bar-input {
  display: flex;
  align-items: center;
  width: 100%;

  input {
    width: 100%;
    font-size: 14px;
    font-family: inherit;
    border: none;
    padding: 4px 8px;
    outline: none;

    &::placeholder {
      color: $neutral-300;
    }
  }
}

.search-actions {
  display: flex;
  align-items: center;
}
