<div class="search-bar" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <form class="search-bar-input">
    <i-feather name="search" class="fill"></i-feather>
    <input
      type="text"
      placeholder="Type // to see filters"
      formControlName="query"
      (input)="onChange(query.value)"
      #query
    />
  </form>

  <div class="search-actions">
    <i-feather name="mic" class="fill"></i-feather>
  </div>

  <app-search-recents
    [recents]="recents"
    *ngIf="expandRecents"
  ></app-search-recents>
  <app-search-filters *ngIf="expandFilters"></app-search-filters>
</div>
