@import "../../../../styles.scss";

:host {
  position: absolute;
  left: 0;
  top: 32px;
  width: 100%;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  background-color: white;
  border-radius: 4px;
  border: 1px solid $neutral-100;
}

.search-recents-box {
  width: 100%;
  display: flex;
  flex-direction: column;

  h3 {
    font-size: 14px;
    font-weight: 500;
    padding: 8px 12px;
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;

    li {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 4px;
      padding: 8px 12px;

      .filter {
        padding: 4px 6px;
        background-color: $neutral-100;
        font-size: 12px;
        border-radius: 4px;
      }

      &:hover {
        background-color: $neutral-50;
      }
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    padding: 8px 12px;
    font-size: 12px;

    div {
      display: flex;
      align-items: center;
    }

    span {
      display: inline-block;
      padding: 2px 4px;
      background-color: $neutral-50;
      border-radius: 4px;
      margin: 0px 4px;
    }
  }
}
