<div class="search-recents-box">
  <h3>Recents</h3>
  <ul *ngFor="let item of recents">
    <li>
      <span *ngIf="item.key !== 'noFilter'" class="filter"
        >{{ item.key }}:</span
      >
      <p>{{ item.value }}</p>
    </li>
  </ul>

  <div class="footer">
    <div>Type <span>//</span> to see filters</div>
    <div><span>esc</span> to close</div>
    <div><span>ctrl + .</span> Advanced search</div>
  </div>
</div>
