@import "./variables";

@mixin fill($color, $color-hover) {
  color: $color;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;

  &:hover {
    color: $color-hover;
  }
}
