<section *ngIf="results | async as results">
  <h1>Search results</h1>
  <p>
    Showing <b>{{ results.length }}</b> results of
    <b>{{ results.length }}</b> for <b>"query"</b>
  </p>

  <div class="search-controls">
    <div class="views">
      <button [ngClass]="{ active: tableView }" (click)="changeView($event)">
        <i-feather
          name="list"
          class="view-icon"
          (click)="$event.stopPropagation()"
        ></i-feather>
        List
      </button>
      <button [ngClass]="{ active: boxView }" (click)="changeView($event)">
        <i-feather
          name="grid"
          class="view-icon"
          (click)="$event.stopPropagation()"
        ></i-feather>
        Box
      </button>
      <button>
        <i-feather name="map" class="view-icon"></i-feather>

        Map
      </button>
    </div>

    <div class="right-controls">
      <button>
        <i-feather name="columns" class="view-icon"></i-feather>
        View options
        <i-feather name="chevron-down" class="view-icon"></i-feather>
      </button>
    </div>
  </div>

  <ng-container>
    <app-search-table *ngIf="tableView"></app-search-table>

    <app-search-box *ngIf="boxView"></app-search-box>
  </ng-container>
</section>
