@import "../../../../styles.scss";

:host {
  position: absolute;
  left: 0;
  top: 32px;
  width: 100%;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  background-color: white;
  border-radius: 4px;
  border: 1px solid $neutral-100;
}

.search-filters {
  width: 100%;

  h3 {
    font-size: 14px;
    font-weight: 500;
    padding: 8px 12px;
  }
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 4px 0px;

    li {
      padding: 4px 12px;
      font-size: 12px;
      cursor: pointer;
      &:hover {
        background-color: $neutral-50;
      }
      span {
        border-radius: 4px;
        display: inline-block;
        padding: 4px 6px;
        background-color: $neutral-100;
      }
    }
  }
}
