<nav>
  <ul class="sidebar">
    <li *ngFor="let item of items">
      <a
        [routerLink]="item.path"
        (mouseenter)="showMoreIcon()"
        (mouseleave)="hiddeMoreIcon()"
      >
        <i-feather name="chevron-right" class="sidebar-icon"></i-feather>
        <i-feather [name]="item.icon" class="sidebar-icon"></i-feather>
        <span>{{ item.object }}</span>

        <i-feather
          name="more-vertical"
          class="sidebar-icon more"
          [ngClass]="showMoreClass"
          (click)="onClick()"
        ></i-feather>
      </a>
    </li>
  </ul>

  <ul class="sidebar-mobile">
    <li *ngFor="let item of items">
      <a>
        <i-feather [name]="item.icon" class="sidebar-icon"></i-feather>
      </a>
    </li>
  </ul>
</nav>
