@import "../../styles.scss";

nav {
  width: fit-content;
  background-color: $neutral-50;
  height: 100%;
  border-right: 1px solid $neutral-100;
  padding: 8px;

  .sidebar {
    list-style: none;
    display: none;
    flex-direction: column;

    li {
      a {
        cursor: pointer;
        padding: 6px 8px 6px 4px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        gap: 4px;

        span {
          flex: 1;
          padding: 0px 4px;
          font-size: 14px;
          line-height: 20px;
        }
        .sidebar-icon {
          @include fill($neutral-700, none);
        }

        &:hover {
          background-color: $neutral-100;
        }
      }
    }
  }

  .sidebar-mobile {
    list-style: none;
    display: flex;
    flex-direction: column;

    li {
      a {
        cursor: pointer;
        padding: 7px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        gap: 4px;

        span {
          flex: 1;
          padding: 0px 4px;
        }
        .sidebar-icon {
          @include fill($neutral-700, none);
        }

        &:hover {
          background-color: $neutral-100;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  nav {
    width: 250px;
    padding: 8px;

    .sidebar {
      display: flex;
      li {
        a {
          .more {
            display: none;
          }

          // .show {
          //   display: flex;

          //   &:hover {
          //     background-color: $neutral-200;
          //     border-radius: 4px;
          //   }
          // }
        }
      }
    }

    .sidebar-mobile {
      display: none;
    }
  }
}
