@import "../../../../styles.scss";

table {
  border-radius: 4px;
  border: 1px solid $neutral-100;
  color: $neutral-900;
  font-family: inherit;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 0;

  .table-header {
    height: 40px;
    background-color: $neutral-100;
    color: $neutral-600;
    font-family: "Inter", sans-serif;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    border: none;
  }

  .mat-mdc-header-cell,
  .mat-mdc-cell {
    border: none;
    display: flex;
    align-items: center;
  }

  .table-row:nth-child(even) {
    border-top: 1px solid $neutral-100;
    border-bottom: 1px solid $neutral-100;
  }

  .table-row {
    height: 40px;
    cursor: pointer;
    display: grid;
    width: 100%;
    color: $neutral-900;
    font-family: "Inter", sans-serif;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    &:hover {
      background-color: $neutral-50;
    }
  }

  .table-row:last-child {
    border-bottom: none;
  }
}
