<table
  mat-table
  matSort
  matSortActive="id"
  matSortDirection="asc"
  matSortDisableClear
  (matSortChange)="sortResults($event)"
  [dataSource]="dataSource"
  class="table"
>
  <ng-container matColumnDef="id">
    <th mat-header-cell mat-sort-header *matHeaderCellDef class="table-cell">
      ID
    </th>
    <td mat-cell *matCellDef="let element" class="table-cell">
      {{ element.id }}
    </td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell mat-sort-header *matHeaderCellDef class="table-cell">
      Name
    </th>
    <td mat-cell *matCellDef="let element" class="table-cell">
      {{ element.name }}
    </td>
  </ng-container>

  <ng-container matColumnDef="username">
    <th mat-header-cell mat-sort-header *matHeaderCellDef class="table-cell">
      Username
    </th>
    <td mat-cell *matCellDef="let element" class="table-cell">
      {{ element.username }}
    </td>
  </ng-container>

  <tr
    mat-header-row
    *matHeaderRowDef="displayedColumns"
    class="table-header"
  ></tr>

  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns"
    class="table-row"
  ></tr>
</table>

<div class="paginator">
  <mat-paginator
    [length]="total"
    [pageSize]="limit"
    [showFirstLastButtons]="true"
    [pageSizeOptions]="[2, 5, 10]"
    [pageIndex]="currentPage"
    (page)="handlePageChange($event)"
  ></mat-paginator>
</div>
