@import "../../styles.scss";

:host {
  padding: 16px;
  background-color: $neutral-50;
  width: 100%;
}

.main {
  padding: 16px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid $neutral-100;
  height: 100%;

  h1 {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 4px;
  }

  p {
    color: $neutral-500;
  }
  .search-controls {
    display: flex;
    padding: 16px 0px;

    .views {
      display: flex;
      flex: 1;

      overflow: hidden;
      background-color: white;

      .active {
        background-color: $neutral-100;
      }

      button:first-child {
        border-radius: 4px 0px 0px 4px;
      }

      button:last-child {
        border-radius: 0px 4px 4px 0px;
      }

      button:nth-child(even) {
        border-left: 0px;
        border-right: 0px;
      }

      button {
        display: flex;
        color: $neutral-600;
        gap: 8px;
        padding: 6px 12px;
        align-items: center;
        border: 1px solid $neutral-100;
        background-color: white;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        .view-icon {
          @include fill($neutral-700, none);
        }

        &:hover {
          background-color: $neutral-100;
        }
      }
    }

    .right-controls {
      button {
        display: flex;
        color: $neutral-600;
        gap: 8px;
        padding: 6px 12px;
        align-items: center;
        border: 1px solid $neutral-100;
        background-color: white;
        border-radius: 4px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;

        .view-icon {
          @include fill($neutral-700, none);
        }

        &:hover {
          background-color: $neutral-100;
        }
      }
    }
  }

  // Table

  .dashboard-table {
    border-radius: 4px;
    border: 1px solid $neutral-100;
    color: $neutral-900;
    font-family: inherit;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: 0;

    .table-header {
      height: 40px;
      background-color: $neutral-100;
      color: $neutral-600;
      font-family: "Inter", sans-serif;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      border: none;
    }

    .mat-mdc-header-cell,
    .mat-mdc-cell {
      border: none;
      display: flex;
      align-items: center;
    }

    .table-row:nth-child(even) {
      border-top: 1px solid $neutral-100;
      border-bottom: 1px solid $neutral-100;
    }

    .table-row {
      height: 40px;
      cursor: pointer;
      display: grid;
      width: 100%;
      color: $neutral-900;
      font-family: "Inter", sans-serif;
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
      &:hover {
        background-color: $neutral-50;
      }
    }

    .table-row:last-child {
      border-bottom: none;
    }
  }
}
