<section class="main">
  <h1>Dashboard</h1>
  <p>Create and manage dashboards to visualize your data</p>

  <div class="search-controls">
    <div class="views">
      <button [ngClass]="{ active: tableView }">
        <i-feather name="list" class="view-icon"></i-feather>
      </button>
      <button [ngClass]="{ active: boxView }">
        <i-feather name="grid" class="view-icon"></i-feather>
      </button>
      <button>
        <i-feather name="folder" class="view-icon"></i-feather>
      </button>
    </div>

    <div class="right-controls">
      <button>
        <i-feather name="plus" class="view-icon"></i-feather>
        New dashboard
      </button>
    </div>
  </div>

  <div>
    <table
      mat-table
      matSort
      matSortActive="id"
      matSortDirection="asc"
      matSortDisableClear
      (matSortChange)="sortResults($event)"
      [dataSource]="dataSource"
      class="dashboard-table"
    >
      <ng-container matColumnDef="id">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
          class="table-cell"
        >
          ID
        </th>
        <td mat-cell *matCellDef="let element" class="table-cell">
          {{ element.id }}
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
          class="table-cell"
        >
          Name
        </th>
        <td mat-cell *matCellDef="let element" class="table-cell">
          {{ element.name }}
        </td>
      </ng-container>

      <ng-container matColumnDef="username">
        <th
          mat-header-cell
          mat-sort-header
          *matHeaderCellDef
          class="table-cell"
        >
          Username
        </th>
        <td mat-cell *matCellDef="let element" class="table-cell">
          {{ element.username }}
        </td>
      </ng-container>

      <tr
        mat-header-row
        *matHeaderRowDef="displayedColumns"
        class="table-header"
      ></tr>

      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        class="table-row"
      ></tr>
    </table>
  </div>
</section>
