@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "./styles/variables";
@import "./styles/mixins";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  color: $neutral-700;
  font-size: 14px;
  height: calc(100vh - 80px);
  overflow: hidden;

  background-color: $neutral-50;
}

.fill {
  color: $neutral-300;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
  padding: 2px;
  border-radius: 4px;
  cursor: pointer;

  &:hover {
    color: $neutral-400;
    background-color: $neutral-100;
  }
}

button {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: $neutral-700;
}
