@import "../../styles.scss";

:host {
  padding: 16px;
  background-color: $neutral-50;
  width: 100%;
}

.main {
  padding: 16px;
  background-color: white;
  border-radius: 4px;
  border: 1px solid $neutral-100;
  height: 100%;

  h1 {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 8px;
  }
}

.recents {
  padding: 24px;
  p {
    color: $neutral-500;
    font-weight: 600;
    font-size: 16px;
  }

  ul {
    padding: 16px 0px;
    width: 100%;
    gap: 24px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    li {
      border-radius: 4px;
      border: 1px solid $neutral-100;
      overflow: hidden;
      transition: all 0.2s ease-in-out;
      cursor: pointer;

      &:hover {
        border: 1px solid $neutral-500;
      }

      .img {
        width: 100%;
        height: 150px;
        background-color: $neutral-50;
      }

      .body {
        padding: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }
}
