<section class="main">
  <h1>Home</h1>

  <section *ngIf="recents | async as recents" class="recents">
    <p>Recents</p>
    <ul>
      <li *ngFor="let item of recents.slice(0, 4)">
        <div class="img"></div>
        <div class="body">
          <a>{{ item.name }}</a>

          <i-feather name="star" class="fill favorite"></i-feather>
        </div>
      </li>
    </ul>
  </section>
</section>
