@import "../../../../styles.scss";
.box-view {
  width: 100%;
  ul {
    width: 100%;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 24px;

    li {
      display: flex;
      flex-direction: column;
      gap: 8px;
      border-radius: 4px;
      border: 1px solid $neutral-100;
      padding: 16px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;

      &:hover {
        border-color: $neutral-400;
      }
      h2 {
        font-size: 16px;
        padding-bottom: 4px;
      }

      .info {
        display: flex;

        align-items: center;

        span {
          color: $neutral-400;
        }

        p {
          padding: 0px 4px;
        }
      }
    }
  }
}
