<section *ngIf="results | async as results" class="box-view">
  <ul>
    <li *ngFor="let result of results">
      <h2>{{ result.name }}</h2>

      <div class="info">
        <span> username:</span>
        <p>
          {{ result.username }}
        </p>
      </div>

      <div class="info">
        <span>email:</span>
        <p>
          {{ result.email }}
        </p>
      </div>
    </li>
  </ul>
</section>
